/**
 * Variables
 * Contains re-usable variables like colors, sizes, breakpoints etc.
 * Normally, you don't have to change anything in essentials.css and general.css
 * because you'll define the basic-values here.
 *
 * @author     ThatMuch
 * @version    0.1.0
 * @since      mars_1.0.0
 *
 */

/*==================================================================================
  SCALING
==================================================================================*/

$base_size: 1.5vw; // scales all `rem` based elements by adding this value as html font-size

$header_height: 70px; // define the height of the header
$element_width: 90vw; // default width of the inner elements --> nav, article, div.element, footer
$element_maxwidth: 1200px; // max-width of the inner elements (should be <= $scaling_endpoint)

$element_width_mobile: 95vw; // default width of the .element content-div

/*==================================================================================
  COLORS
==================================================================================*/

/* Presets
/––––––––––––––––––––––––*/
$color-primary: #009999;
$color-primary-darker: #398995;
$color-primary-lighter: #D6E0E2;
$color-secondary: #FFD700;
$color-secondary-darker: #E2BF03;
$color-black: #1B241C;
$color-dark: #3D403D;
$color-grey2: #6E736F;
$color-grey1: #C1C7C2;
$color-grey: #EDF1EE;
$color-light: #fff;
$black: #1B241C;

$color-input-focus: rgba(240, 195, 0, 0.25);
$color-input-value: #495057;

/*=============================================
  FONTS
=============================================*/

/* set base values */
$text-fz: 1em;
$text-scale-ratio: 1.2;
$text-ff: "Dosis", sans-serif;
$text-c: $color-black;
$text-fw: 400;
$text-lh: 2;
$text-heading: "Elsie", cursive;

/* type scale */
$text-xs: calc(1em / (#{$text-scale-ratio} * #{$text-scale-ratio}));
$text-sm: calc(1em / #{$text-scale-ratio});
$text-md: calc(1em * #{$text-scale-ratio});
$text-lg: calc(1em * #{$text-scale-ratio} * #{$text-scale-ratio});
$text-xl: calc(1em * #{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio});
$text-xxl: calc(1em * #{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio});
$text-xxxl: calc(1em * #{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio});

@include breakpoint(mobile) {
    $text-scale-ratio: 1.25;
}


/*=====  End of FONTS                  ======*/

/*=============================================
=            Sizes                           =
=============================================*/

$size-header: 550px;
$size-navbar: 70px;

/*=====  End of Sizes                 ======*/

/*=============================================
=            Space                            =
=============================================*/

$space-xxxs: 0.25em;
$space-xxs: 0.375em;
$space-xs: 0.5em;
$space-sm: 0.75em;
$space-md: 1.25em;
$space-lg: 2em;
$space-xl: 3.25em;
$space-xxl: 5.25em;
$space-xxxl: 8.5em;

/*=====  End of Space                  ======*/

/*==================================================================================
  DEFAULTS
==================================================================================*/
// these basic defaults are applied to the 'html', 'body', 'nav' or 'a' tags

/* HTML
/––––––––––––––––––––––––*/
$html__bgcolor: $color-light;

/* NAV
/––––––––––––––––––––––––*/
$nav__linkcolor: $color-dark;
$nav__hovercolor: $color-primary;
$nav__activecolor: $color-primary;
$nav__spacercolor: $color-dark;

/* ANCHORS
/––––––––––––––––––––––––*/
$a__linkcolor: $color-primary;
$a__hovercolor: $color-primary-darker;
$a__textdecoration: "none";

/*==================================================================================
  TRANSITIONS
==================================================================================*/

$transition_fast: 0.3s;
$transition_slow: 0.7s;

/*==================================================================================
  SHADOWS
==================================================================================*/

$shadow__soft: 0px 0px 20px rgba(107, 117, 119, 0.25);
$shadow: 0px 0px 20px rgba(107, 117, 119, 0.4);

/*=============================================
=            Border                           =
=============================================*/

$border-radius: 19px;
