/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       mars_1.0.0.0
 *
 */

button, .btn {
    padding: 13px 38px;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: $text-ff;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: normal;
    min-height: 48px;
    transition-duration: $transition_slow;

    &:hover, &:active, &:focus {
        //

    }

    &:disabled {
        //

    }
}

.btn.btn-primary {
    color: $color-light;

    &:hover, &:active, &:focus {
        //

    }
}

.btn.btn-secondary {
    &:hover, &:active, &:focus {
        //

    }
}

.btn.btn-outline-dark {
    color: $color-dark !important;

    &:hover, &:active, &:focus {
        background: $color-dark;
        color: white !important;
    }
}

.btn.btn-outline-secondary {
    &:hover, &:active, &:focus {
        //

    }
}

.btn.btn-dark {
    background: $color-dark !important;

    &:hover, &:active, &:focus {
        //

    }
}

.btn-light {
    color: $color-primary !important;
    background-color: #fff !important;
    border-color: #fff !important;

    &:hover, &:active, &:focus {
        background-color: transparent !important;
        color: #fff !important;
    }
}

.btn-icon {
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: 3rem;
    width: 42px;
    height: 42px;
    text-align: center;
    padding: 0;
font-weight: 400;
&:focus {outline: none;}
    &.close {
        position: absolute;
        right: 10px;
        top: 10px;
        line-height: 42px;
        display: block;
    }
}
