.section-upper {
    height: 574px;
    background-image: url("../../bg.png");
    background-color: $color-secondary;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 65px 0;

    .img-shadow {
        box-shadow: -30px 0px 0 0 white;
        transform: translateY(-100px);
    }
}

.section-lower {
    padding: 65px 0 0;
    transform: translateY(-219px);
}

.section-middle {
    padding: 100px 0;
    transform: translateY(-219px);

    .content {
        text-align: right;

        p {
            margin-left: 45%;
            margin-bottom: 0;
        }
    }

    &__title {
        text-align: right;
        margin-bottom: 15px;
    }

    .img {
        max-width: 100%;
        width: 500px;
        height: 360px;
        position: relative;
        margin: 0 auto;

        img {
            object-fit: cover;
        }
    }

    .splide__arrows {
        width: 124px;
        position: absolute;
        left: 39%;
        bottom: 0;
        display: flex;

        .splide__arrow {
            position: relative;
            width: 57px;
            height: 57px;
            left: initial;
            right: initial;
            top: 0;
            transform: initial;
            background-color: $color-grey;
            opacity: 1;

            &--prev {
                margin-right: 10px;
            }
        }
    }
}
