.section-upper {
    background-image: url("../../bg.png");
    background-color: $color-secondary;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 65px 0 175px;

    .img-shadow {
        box-shadow: -30px 0px 0 0 white;
        margin: 0 -30px 65px 60px;

        @include breakpoint(tablet) {
            transform: translateY(-100px);
            margin: initial;
        }
    }
}

.section-middle {
    padding: 100px 0;

    @include breakpoint(tablet) {
        margin-top: -250px;
    }


    .content {
        text-align: right;

        h3 {
            margin-bottom: 0;
            font-family: $text-ff;

            @include breakpoint(tablet) {
                transform: translateY(40px);
            }
        }

        p {
            @include breakpoint(tablet) {
                margin-top: 70px;
                margin-left: 45%;
                margin-bottom: 0;
            }
        }
    }

    &__title {
        text-align: right;
        margin-bottom: 0;

        @include breakpoint(tablet) {
            transform: translateY(20px);
        }
    }

    .img {
        max-width: 100%;
        width: 500px;
        height: 360px;
        position: relative;
        margin: 0 auto;

        img {
            object-fit: cover;
        }
    }

    .splide__arrows {
        width: 124px;
        position: absolute;
        display: flex;
        left: 0;
        right: 0;

        @include breakpoint(tablet) {
            left: 39%;
            bottom: -55px;
        }


        .splide__arrow {
            position: relative;
            width: 57px;
            height: 57px;
            left: initial;
            right: initial;
            top: 0;
            transform: initial;
            background-color: $color-grey;
            opacity: 1;

            &--prev {
                margin-right: 10px;
            }
        }
    }
}

.section-lower {
    padding: 65px 0;

    img {
        margin-bottom: 30px;

        @include breakpoint(tablet) {
            margin-bottom: 0;
        }
    }
}
