/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       mars_1.0.0.0
 *
 */
//=> templates/wp-home.php

.blog {
    &__categories {
        margin-top: 200px;
        background-color: $color-grey;
        height: 336px;
        position: relative;

        @include breakpoint(tablet) {
            height: 436px;
        }


        &__title {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 26px;
            text-align: center;

            @include breakpoint(tablet) {
                font-size: 36px;
            }
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 25px;
            transform: translate(5px, -60px);

            @include breakpoint(tablet) {
                gap: 50px;
                transform: translateY(-100px);
                grid-template-columns: repeat(3, 200px);
            }


            &__name {
                text-align: center;
                margin: 0 auto;
                color: $color-primary;
                text-transform: uppercase;
                font-weight: 700;
                display: block;
            }
        }
    }

    .pagination {
        justify-content: center;
    }
}
