.section-ateliers {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 700px;
    margin-bottom: 200px;

    &__title {
        font-family: $text-ff;
        text-transform: initial;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;

        // transform: translateY(210px);

    }

    .atelier {
        &__img {
            width: 315px;
            height: 315px;
            margin: 0 auto 20px;
        }

        &__title {
            color: $color-secondary;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
        }
    }
}

.services .section-text-image {
.section__title {

    font-family: $text-ff;
    text-transform: initial;
}
.row:nth-child(even){
    flex-direction: row-reverse;
}
}
