.section-text-image {
    .row {
        position: relative;
        align-items: inherit;
    }

    &:last-of-type {
        padding-bottom: 6rem !important;

        @include breakpoint(tablet) {
            padding-bottom: 12rem !important;
        }
    }

    &__image {
        //padding-left: 0;
        //padding-right: 0;
        margin-bottom: 40px;

        @include breakpoint(tablet) {
            display: block;
            margin-bottom: 0px;
        }


        @include breakpoint(mobile) {
            display: flex;
            justify-content: center;
        }
    }

    &__text {
        //padding: 0 !important;

        &__inner {
            text-align: justify;
            line-height: 30px;

            @include breakpoint(tablet) {
                padding: 0 30px 0 50px;
            }
        }
    }

    &__btn {
        text-align: center;
    }

    /*     &__text__inner {
            max-height: 300px;
        } */
}
