main#sections {
    .section {
        padding: 5rem 3rem 4rem;
        position: relative;
        width: 100vw;

        @media screen and (max-width: 767px) {
            padding: 3rem 3rem 4rem;
        }

        @media screen and (max-width: 530px) {
            padding: 5rem 2rem 4rem;
        }

        @include breakpoint(mobile) {
            padding: 3rem 2rem 4rem;
        }


        .container {
            position: relative;
        }

        &__title {
            margin-bottom: 2rem;
            text-align: left;

            &.decorated {
                position: relative;
                padding-left: 24px;

                &::before {
                    content: "";
                    height: 56px;
                    width: 4px;
                    display: inline-block;
                    vertical-align: middle;
                    background: $color-primary;
                    position: absolute;
                    top: 50%;
                    transform: translate(-20px, -50%);
                }
            }
        }

        .section__background-image {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            filter: opacity(0.5);
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
            filter: alpha(opacity = 50);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        &__background {
            height: 250px;
            position: absolute;
            top: 0;
            width: 100%;
            left: 0;
        }
    }
}

.toto {
    background-color: $color-primary;
}

@import "section-text";
@import "section-text-image";
@import "section-testimonials";
@import "section-stats";
@import "section-services";
@import "section-price";
@import "section-portfolio";
@import "section-logos";
@import "section-link";
@import "section-gallery";
@import "section-faq";
@import "section-contact";
@import "section-carousel";
@import "section-teams";
@import "section-header";
@import "section-event";
@import "section-benefits";
