.section-testimonials {
    @include breakpoint(mobile) {
        padding: 3rem 0 !important;
    }


    &__carousel {
        text-align: justify;

        @include breakpoint(mobile) {
            min-height: 500px;
        }


        &_item {
            height: 100%;

            blockquote {
                padding: 0;
                animation-delay: .5s;

                &:before {
                    left: -30px;
                }

                &:after {
                    right: -30px;
                    bottom: -20px;
                }
            }

            &-author {
                animation-delay: 1s;
            }

            &-image {
                @extend .mb-3;

                display: block;
                margin-left: auto;
                margin-right: auto;
                height: 200px;
                width: 200px;
                background-color: $color-grey;
                border-radius: $border-radius;
            }
        }

        .carousel-indicators {
            bottom: -25px;
            margin-bottom: 0;
        }

        .carousel-control-prev,
        .carousel-control-next {
            @include breakpoint(mobile) {
                display: none;
            }
        }
    }
}
